@import "style.css";

html{
    scroll-behavior: smooth;
}


/* *,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */


.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("../images/dots.png");
} 

.header h3{
    width:fit-content;
    padding: 10px 20px 10px 20px;
    margin-left: 5%;
    background-color: #13223d;
    color: azure;
}



.campus{
    width: 100%;
    /* margin:auto; */
    text-align: left;
    /* padding-top: 20px; */
    text-decoration: none;
    height: 600px;
}

.row{
    width: 90%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    translate: 7%;
    margin-bottom: 5%;
}

.campus2{
    width:80%;
    margin-top: 1%;
    translate: 10%;
}

.campus2 p{
    text-align: left;
    color: rgb(3, 24, 38);
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    font-size: 22px;
    width: 100%;
}

.campus p{
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    font-size: 22px;
    width: 100%;
}

.campus-col1{
    width: auto;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 60px;
    position:relative;
    /* overflow:hidden; */
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10%;
}

.campus-col1 img{
  
    height: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    /* border-radius: 6%; */
}

.campus-col1 iframe{
    height: auto;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}


.campus-col1 desc{
    padding: 15px;
    text-align: center;
}


/* .campus-col1:hover{
    opacity: 0.5;
} */

.container-new {
    /* width: 85vw; */
    margin: 1rem auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  .bg,
  .layer {
    text-align: center;
  }
  
  img,
  .layer {
    transition: .3s all;
    border-radius: 3px;
  }
  
  .bg {
    float: left;
    height: 70%;
    max-width: 100%;
    position: relative;
    margin: .5%;
    img {
      width: 100%;
      height: 100%;
      margin-bottom: -4px;
    }


.layer {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      opacity: 0;
      h2 {
        font-size: 25px;
        padding-top: 2%;
      }
     
    }
&:hover {
      .layer {
        opacity: 1;
      }
      img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
      }
    }
}




/* .layer{
    background: rgba(0, 0, 0, 0.2);
    color: #fff; */
    /* height: 100%; */
    /* width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
    h3 {
        padding-top: 3%;
    }
} */



/* .layer h3{
    width: 70%;
    font-weight: 500;
    color: #b23a3a;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
} */


/* .layer:hover h3{
    bottom: 49%;
    opacity: 1;
    position: absolute;
} */





.text-box{
    width: 80%;
    color: #1c61d1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}